.App {
  text-align: center;
  background: rgb(188, 188, 253);
  margin: 10px;
  min-height: 100vh;
  font-family: "Reem Kufi Fun", sans-serif;
  font-weight: 400;
}
footer {
  margin-top: 50px;
  font-size: 15px;
}
footer a {
  color: rgb(116, 22, 204);
}
@media (min-width: 300px) {
  .App {
    margin: 1px;
  }
  footer {
    font-size: 10px;
  }
}
