.Results {
  color: rgb(245, 32, 156);
}
.Meaning {
  color: black;
  line-height: 1;
}
.Definitions {
  color: brown;
  font-size: 20px;
  text-align: justify;
  padding: 0 35px;
}
.Word {
  font-size: 50px;
  line-height: 2px;
  font-weight: 900;
  text-transform: capitalize;
}
.Dictionary section {
  background: white;
  padding: 40px;
  border-radius: 6px;
  margin: 50px 150px;
  box-shadow: 0 0 8px rgb(232, 113, 208);
}
.Dictionary input {
  width: 100%;
  padding: 10px;
}
.Phonetic a {
  font-size: 15px;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid rgb(160, 156, 156);
  color: purple;
  padding: 5px;
  margin-right: 5px;
}
.Phonetic a:hover {
  background: purple;
  color: wheat;
}
.Phonetic {
  height: 40px;
  display: inline-block;
}
.PartOfSpeech {
  border: 1px solid grey;
  text-align: center;
  display: inline-block;
  padding: 4px 20px;
  margin-bottom: -5px;
  text-transform: capitalize;
}
.SynonymWords {
  margin: 0 10px;
  line-height: 1.5;
}
.Example {
  position: relative;
  top: -10px;
  color: rgb(73, 72, 72);
  font-weight: 450;
}
