.Meaning {
  color: black;
  line-height: 1.5;
}
.Definitions {
  color: black;
  font-size: 20px;
  padding: 0 20px;
}
.Word {
  font-size: 50px;
  line-height: 2px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 50px;
  color: rgb(250, 22, 220);
}
.Dictionary section {
  background: white;
  padding: 40px;
  border-radius: 6px;
  margin: 50px;
  box-shadow: 0 0 8px rgb(232, 113, 208);
}
.Dictionary input {
  width: 100%;
  padding: 15px;
}
.Phonetic a {
  font-size: 15px;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid rgb(160, 156, 156);
  color: purple;
  padding: 5px;
  margin-right: 5px;
}
.Phonetic a:hover {
  background: purple;
  color: wheat;
}
.Phonetic {
  height: 40px;
  display: inline-block;
}
.PartOfSpeech {
  text-align: center;
  display: inline-block;
  padding: 4px 20px;
  margin: 10px;
  text-transform: lowercase;
  text-decoration: underline;
  color: rgb(244, 221, 234);
}
.SynonymWords {
  margin: 0 auto;
  line-height: 1.5;
  color: rgb(184, 8, 108);
  font-size: 20px;
}
.Example {
  position: relative;
  top: 5px;
  color: rgb(136, 126, 126);
  font-weight: 450;
  font-style: italic;
}
.Photos img {
  margin-bottom: 10px;
}
.Photos {
  margin-top: 50px;
}
@media (min-width: 300px) {
  .SynonymWords {
    font-size: 15px;
    margin-top: 15px;
  }
  .Definitions {
    font-size: 15px;
    text-align: center;
    margin: 5px;
    padding: 0;
  }
  .PartOfSpeech {
    margin: -8px;
  }
  .Dictionary h1 {
    font-size: 20px;
  }
  .Meaning {
    margin-top: -25px;
    line-height: 1.2;
  }
  .Dictionary section {
    padding: 20px;
    margin: 30px 50px;
  }
  .Photos {
    width: "100";
  }
}
